# Ignore Python cache
__pycache__/
models/__pycache__/
views/__pycache__/

# Ignore PyCharm-specific files
.idea/
.idea/misc.xml

# Optional: Ignore environment variables or sensitive data
.env

.idea/POS.iml